# OSX
.DS_Store

# Node
node_modules/
npm-debug.*

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/

# Tamagui
.tamagui/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Drizzle
# (keep drizzle/ migration files)

# Turborepo
.turbo
